PORT=
NODE_ENV=
CLIENT_ORIGINS=


CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

GMAIL=
GMAIL_PASSWORD_KEY=

MONGO_URI=

RAZORPAY_TEST_API_KEY=
RAZORPAY_TEST_KEY_SECRET=

JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES=
JWT_REFRESH_TOKEN_EXPIRES=

REDIS_URL=