PORT=
NODE_ENV=
CLIENT_ORIGINS=


CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

MONGO_URI=

JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES=
JWT_REFRESH_TOKEN_EXPIRES=

REDIS_URL=

PAYMENT_SERVICE_API_URL=
PAYMENT_SERVICE_SECRET=